@media (max-width: 768px) {
    .sidebar {
      width: 100%;
      position: static;
      height: auto;
    }

    .admin-panel {
      margin-left: 0;
    }
  }
*{
    margin: 0;
}

.sidebar {
    width: 200px;
    background: #f1f1f1;
    padding: 20px;
    height: 100vh;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); 
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar ul li {
    color: rgb(86, 86, 86);
   margin-left: 30px;
   line-height: 20px;
   margin-top: 30px;
  }

  /* Стилі для панелі адміністратора */
  .admin-panel {
    margin-left: 220px; /* Залишаємо місце для бокового меню */
    padding: 20px;
  }