@media (max-width: 768px) {
    .sidebar {
      width: 100%;
      position: static;
      height: auto;
    }

    .admin-panel {
      margin-left: 0;
    }
  }
*{
    margin: 0;
}
h2{
    margin-left: 30px;
    color: rgb(51, 50, 50);
}
.divider {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
    width:100%;
  }
.sidebar {
    width: 200px;
    background: #f1f1f1;
    padding: 20px;
    height: 100vh;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); 
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar ul li {
    color: rgb(86, 86, 86);
   margin-left: 30px;
   line-height: 20px;
   margin-top: 30px;
  }
  .active {
    width: 150px;
    height: 30px;
    border: 2px;
    background-color: rgb(211, 40, 80);
    padding: 5px;
  }
  .admin-panel {
    margin-left: 220px; 
    padding: 20px;
  }
  h1{
    margin-left: 60px;
    font-size: 27px;
    color: rgb(63, 63, 63);
  }
  .container {
    margin-left: 299px;
    display: flex;
    align-items: center;
  }

  .block {
    width: 400px;
    height: 150px;
    margin-top: 50px;
    border: 1px solid rgb(218, 218, 218);
    display: flex;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
    align-items: center; 
    margin-right: 20px;
  }

  .block img {
    margin-right: 10px;
  }
  .data{
    border: 16px solid green;
    background-color: green;
    margin-left: 25px;
    position: relative; 
    top: -60px; 
  }
  .text1{
    margin-left: 80px;
    margin-bottom: 70px;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.block span.additional-text {
    font-size: 27px;
    color: rgb(18, 18, 18);
    margin-left: -110px; 
    flex-grow: 1; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .block span.bottom-text {
    display: flex;
    align-items: center;
    margin-left: -280px; 
    margin-top: 100px;
    color: gray;
  }

  .block span.bottom-text img {
    margin-left: -280px; 
  }
