@media(max-width:1000px){
  .container{
    max-width: 1000px;
  }
  .row{
    max-width: 1000px;
  }
  .block{
    max-width: 1000px;
  }
  .block1{
    max-width: 1000px;
  }
}
@media(max-width:1000px){
  .container{
    max-width: 800px;
  }
  .row{
    max-width: 800px;
  }
  .block{
    max-width: 800px;
  }
  .block1{
    max-width: 800px;
  }
}
@media(max-width:800px){
  .container{
    max-width: 650px;
  }
  .row{
    max-width: 650px;
  }
  .block{
    max-width: 650px;
  }
  .block1{
    max-width: 650px;
  }
}
@media(max-width:500px){
  .container{
    max-width: none;
  }
  .row{
    max-width: none;
  }
  .block{
    max-width:none;
  }
  .block1{
    max-width:none;
  }
}
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  body{
    background: #e6e6e6;
    overflow-x:  hidden;
  }
h2{
    margin-left: 30px;
    color: rgb(51, 50, 50);
}
.divider {
    border: 0;
    border-top: 1px solid #d8d8d8;
    margin: 10px 0;
    width:100%;
  }
.sidebar {
    width: 200px;
    background: #f1f1f1;
    padding: 20px;
    height: 100vh;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); 
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar ul li {
    color: rgb(86, 86, 86);
   margin-left: 30px;
   line-height: 20px;
   margin-top: 30px;
  }
  .active {
    width: 140px;
    height: 30px;
    border: 2px;
    background-color: rgb(211, 40, 80);
    padding: 5px;
  }
  .admin-panel {
    margin-left: 220px; 
    padding: 20px;
  }
  h1{
    margin-left: 11px;
    font-size: 27px;
    color: rgb(63, 63, 63);
  }
  .container {
    margin-left: 236px;
    display: flex;
    align-items: center;
  }

  .block {
    width: 40vh;
    height:20vh;
    margin-top: 50px;
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    display: flex;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
    align-items: center; 
  margin-right: 20px;
  margin-left: 20px;
  }

  .block img {
    margin-right: 7px;
    display: flex;
  }
  .data{
    border: 9px solid green;
    background-color: green;
    margin-left: 25px;
    position: relative; 
    top: -50px; 
    left: -10px;
  }
  .text1{
    margin-left: 70px;
    margin-bottom: 70px;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.block span.additional-text {
    font-size: 27px;
    color: rgb(18, 18, 18);
    margin-left: -110px; 
    flex-grow: 1; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-wrap: wrap;

  }

  .block span.bottom-text {
    display: flex;
    align-items: center;
   margin-left: -70px;
    margin-top: 100px;
    color: gray;
    display: flex;
  }

  .block span.bottom-text img {
    margin-left: -280px; 
  }
  .shop{
    border: 9px solid rgb(231, 170, 3);
    background-color: rgb(231, 170, 3);
    margin-left: 25px;
    position: relative; 
    top: -60px; 
  }
  .tag{
    border: 9px solid rgb(65, 65, 220);
    background-color: rgb(65, 65, 220);
    margin-left: 25px;
    position: relative; 
    top: -60px; 
  }
  .paperplane{
    border: 9px solid rgb(206, 4, 98);
    background-color: rgb(206, 4, 98);
    margin-left: 25px;
    position: relative; 
    top: -60px;
  }
  
  .block span.additional-text1 {
    font-size: 27px;
    color: rgb(18, 18, 18);
    margin-left: -30px; 
    flex-grow: 1; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
  }
  .block span.additional-text2 {
    font-size: 27px;
    color: rgb(18, 18, 18);
    margin-left: -68px; 
    flex-grow: 1; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
  }
 .row {
  margin-left: 225px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  }

  .block1 {
    width: 55vh;
    height:40vh;
    margin-top: 70px;
    border: 1px solid rgb(218, 218, 218);
    display: flex;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
    align-items: center; 
 margin-left: 33px;
  }
  .graphics{
    border: 9px solid green;
    background-color: green;
    margin-left: 25px;
    position: relative; 
    top: -80px; 
    right: 390px;
  }
  .graphics2{
    border: 9px solid rgb(231, 170, 3);
    background-color: rgb(231, 170, 3);
    margin-left: 25px;
    position: relative; 
    top: -80px; 
    right: 390px;
  }
  .graphics3{
    border: 9px solid rgb(65, 65, 220);
    background-color: rgb(65, 65, 220);
    margin-left: 25px;
    position: relative; 
    top: -80px; 
    right: 390px;
  }
  .text01{
    font-size: 20px;
    margin-top: 140px;
    position: absolute;
    margin-left: 23px;
    width: 250px;
    height: 65px;
    color: black;
    font-style: normal;
    font-weight: 200px;
    line-height: 19px;
  }
  .text02{
    font-size: 16px;
    margin-top: 200px;
    position: absolute;
    margin-left: 23px;
width: 359px;
height: 65px;
color: black;
font-style: normal;
font-weight: 100px;
line-height: 19px;
font-weight: normal; 
  }
  .text03{
    font-size: 16px;
    margin-top: 290px;
    position: absolute;
    margin-left: 23px;
width: 359px;
height: 65px;
color: black;
font-style: normal;
font-weight: 100px;
line-height: 19px;
font-weight: normal; 
color: gray;
  }
  .create-line{
    border-bottom: 1px solid rgb(219, 219, 219); 
    margin-top: 210px;
padding-left: 390px;
  position: relative;
  display: inline-block;
  }



  .container11 {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
  .block11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    background-color: rgb(251, 251, 251);
    width: 550px;
    height: 500px;
    overflow: hidden;
    margin-left: 270px;
}
.block12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  background-color: rgb(251, 251, 251);
  width: 550px;
  height: 500px;
  overflow: hidden;
  margin-right: 60px;
}

.yellow-block {
  background-color: rgb(231, 170, 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40%;
  transform: translateY(-50%);
  margin-left: 27px;
}
.blue-block {
  background-color: rgb(65, 65, 220);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40%;
  transform: translateY(-50%);
  margin-left: 27px;
}
.yellow-block-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.blue-text{
  margin-top: 70px;
 color: #d8d8d8;
}
.blue-text1{
  margin-bottom: 20px;
 color: #d8d8d8;
}



.yellow-block-text span {
  margin-right: 10px;
  color: #fefbfb;
}

.yellow-block-text img {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.yellow-block-text .bugs {
  display: flex;
  align-items: center;
  border: none;
  background-color:rgb(255, 201, 114);
  padding: 7px;
}
.list {
    list-style-type: none;
    padding: 0;
    margin: 10px;

}

.list-item {
    display: flex;
   margin-right: 240px;
}

.checkbox {
    margin-left: 20px;
    margin-bottom: 50px;
}
.teext{
width: 344px;
height: 112px;
font-weight: 400;
font-size: 17px;
line-height: 28px;
}
.icons {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.icons img {
    margin-right: 5px;
}
.box2 {
  list-style-type: none;
  padding: 0;
 bottom:  35px;
 margin-left: 30px;
}
.box2  span {
  padding-right: 50px;
  margin-left: 10px;
}
.box2{
  position: relative;
  padding-bottom: 20px;
  line-height: 2;
}
.box02 {
  list-style-type: none;
  padding: 0;
 bottom:  18px;
 margin-left: 30px;
}
.box02  span {
  padding-right: 50px;
  margin-left: 10px;
}
.box02{
  position: relative;
  padding-bottom: 20px;
  line-height: 2;
}
.liist{
  padding-left: 8px;
  color: rgb(3, 197, 214);
}
.box2:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 500px;
  height: 1px;
  background-color: rgb(179, 179, 179);
}
footer {
  text-align: center;
  margin-top: 30px;
}

hr {
  width: 1230px;
  border: none;
  border-top: 1px solid rgb(186, 186, 186);
  margin-left: 260px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
}

.left-words {
  height: 50px;
  display: flex;
  margin-left: 300px;
}

.left-words span {
  margin-right: 10px;
}

.right-word {
  margin-left: auto;
  margin-right: 50px;
}